[submodule "custom_bootloader"]
	path = custom_bootloader
	url = https://github.com/hwnBEAST/custom_bootloader.git
	branch = master
[submodule "FreeRTOS_modification"]
	path = FreeRTOS_modification
	url = https://github.com/hwnBEAST/FreeRTOS_modification.git
	branch = master
